body {
    border: 4px solid black;
    width: 98%;
    height: 500px;
    align-items: center;
    
}

interface {
    display: flex;
    border: 4px solid red;
    height: 84px;
    justify-content: space-around;
    align-items: center;
    
}

disposition {
  border: 4px solid green;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

perso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: greenyellow;
}
 
monstre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: aqua;
}

attaque {
    background-color: red;
}

defense {
    background-color: blue;
}

special {
    background-color: purple;
}