body {
    border: 4px solid black;
    width: 98%;
    height:fit-content;
    align-items: center;
}



interface {
    display: flex;
    height: 300px;
    background-image: url('Image/Interface/InterfaceFOnd.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

disposition {
    background-image: url('Image/BackGround/MainBackGround.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

perso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
monstre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

hudperso {
    display:flex;
    flex-direction: column;
}

hudmonstre {
    display:flex;
    flex-direction: column;
}

texte {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-image: url('Image/Interface/InterfaceTexte.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#imageperso1{
    position:relative;
}
#imageperso2{
    position:relative;
}

#imageperso3{
    position:relative;
}
#imageperso4{
    position:relative;
}

#imagemonstre1 {
    position: relative;
}

#imagemonstre2 {
    position: relative;
}

#imagemonstre3 {
    position: relative;
}

infoperso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    background-image: url('Image/Interface/InterfaceInfoPerso.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

infoperso1 {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

infoperso2 {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

infoperso3 {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

infoperso4 {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

barre {
    display: flex;
    flex-direction: column;
}

bouton {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    background-image: url('Image/Interface/InterfaceBoutton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button {
    height: 50px;
    background-color: green;
}