body {
    border: 4px solid black;
    width: 98%;
    height: 500px;
    align-items: center;
    
}

interface {
    display: flex;
    border: 4px solid red;
    height: 66px;
    justify-content: space-around;
    align-items: center;
    
}

disposition {
  border: 4px solid green;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

perso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
monstre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

attaque {
    display: flex;
    align-items: center;
    background-color: red;
    height: 100%;
}

defense {
    display: flex;
    align-items: center;
    background-color: blue;
    height: 100%;
}

special {
    display: flex;
    align-items: center;
    background-color: purple;
    height: 100%;
}

imageperso {
    background-color: greenyellow;

}

imagemonstre {
    background-color: aqua;

}

hudperso {
    display:flex;
    flex-direction: column;
}

hudmonstre {
    display:flex;
    flex-direction: column;
}

texte {
    display: flex;
    justify-content: center;
}

#imageperso1{
    position:relative;
}